
*.o

live/mediaServer/live555MediaServer

live/proxyServer/live555ProxyServer

live/mediaServer/live555MediaServer

*.xcuserstate

*.xcbkptlist

*.xcbkptlist

*.a

*.a

live/groupsock/libgroupsock.a

live/BasicUsageEnvironment/libBasicUsageEnvironment.a

live/liveMedia/libliveMedia.a

live/UsageEnvironment/libUsageEnvironment.a
